<body>
<header>
  <h6>Chat App</h6>
</header>
<div id="wrapper">
  <div *ngIf="Alert.alert.aktivan" id="alert" class="alert alert-{{Alert.alert.tip}}" style="width: 20%; position: absolute; top: 10%; left: 40%">
    {{Alert.alert.sadrzaj}}
  </div>
  <div id="sidebar">
    <h3>Aktivni korisnici</h3>
    <div id="aktivni-korisnici">
      <div class="korisnik">
        <h2>{{korisnickoIme}}</h2>
        <h2>(Vi)</h2>
      </div>
      <div class="korisnik">
        <h2>IJSADAS</h2>
        <button class="btn btn-primary">Privatna poruka</button>
      </div>
    </div>

  </div>
  <div id="center-screen">
    <app-poruke></app-poruke>
  </div>
</div>

</body>

