<body>
<header>
  <h6>Chat App</h6>
</header>
<div id="wrapper">
  <div *ngIf="Alert.alert.aktivan" id="alert" class="alert alert-{{Alert.alert.tip}}">
    {{Alert.alert.sadrzaj}}
  </div>
  <div id="sidebar">
    <div (click)="hamburgerHandler()" id="hamburger"><img src="/assets/HamburgerIcon.png" alt="HamburgerIcon"></div>
    <h3>Aktivni korisnici</h3>
    <div class="aktivni-korisnici">
      <div  class="korisnik">
        <h2>{{signalR.korisnickoIme}}</h2>
        <h2>(Vi)</h2>
      </div>
    </div>
    <div *ngFor="let korisnik of aktivniKorisnici" class="aktivni-korisnici">
      <div class="korisnik">
        <h2>{{korisnik}}</h2>
        <button class="btn btn-primary">Privatna poruka</button>
      </div>
    </div>

  </div>
  <div id="center-screen">
    <app-poruke></app-poruke>
  </div>
</div>

</body>

