.poruka, .korisnikova-poruka{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
.poruka-korisnik, .korisnikova-poruka-korisnik {
  width:20%;
}
.korisnikova-poruka-korisnik {
  text-align: right;
}
.poruka-text, .korisnikova-poruka-text {
  width: 80%;
  height: 10vh;
  resize: none;
  border-radius: 10px;
  padding: 5px;

}
#poruke-canvas {
  height: 75vh;
  overflow-y: scroll;
}
#slanje-poruke {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}
#poruka-input {
  width: 78%;
  height: 10vh;
  resize: none;
}
#posalji-poruku {
  width: 20%;
}
@media only screen and (max-width: 1016px) {
  .poruka-text, .korisnikova-poruka-text {
    width: 70%;
  }
}
