<div id="poruke-canvas">
  <div *ngFor="let poruka of poruke" id="poruke">
    <div *ngIf="signalR.korisnickoIme == poruka.odKorisnika" class="korisnikova-poruka">
      <textarea readonly class="p-text korisnikova-poruka-text">{{poruka.sadrzaj}}</textarea>
      <h2 class="korisnikova-poruka-korisnik">{{poruka.odKorisnika}}</h2>
    </div>
    <div *ngIf="signalR.korisnickoIme != poruka.odKorisnika" class="poruka">
      <h2 class="p-text poruka-korisnik">{{poruka.odKorisnika}}</h2>
      <textarea readonly class="poruka-text">{{poruka.sadrzaj}}</textarea>
    </div>
  </div>
</div>
<div id="slanje-poruke">
  <textarea class="form-text" id="poruka-input"></textarea>
  <button (click)="posaljiPoruku()" [disabled]="signalR.konekcija.state != HubConnectionState.Connected" class="btn btn-primary" id="posalji-poruku">Pošalji</button>
</div>

